# Auto detect text files and perform LF normalization
* text=auto
# stuff to fix wrong languages percentage
* linguist-vendored
*.c linguist-vendored=false
*.cpp linguist-vendored=false
*.nb linguist-vendored=false
*.R linguist-vendored=false
*.Rmd linguist-vendored=false
*.jl linguist-vendored=false
